
body {
    main {
        #to-top {
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            border-radius: 50%;
            color: $verde;
        }
        #banner {
            background-image: url('../../src/img/agro-e-solar-banner-paineis-solares-3.jpg');
            
            >div {
                margin: auto;

                #texto {
                    align-items: center;
                    text-align: center;
                    color: $branco;
                    
                    h1 {
                        width: 100%;
                        font-weight: 300;
                        line-height: 4.2rem;
                    }

                    p {
                        margin: 0 15%;
                        line-height: 1.5rem !important;
                    }
                }
                
                #pelicula {
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(rgba($azul, 0.7) 0%, rgba($azul, 0.2) 80%);
                }
            }
        }
    }
}

#sctn-agr {
    //background-image: url('../../src/img/agro.jpg');
    background-position: center center;
    background-size: cover;
}

#sctn-sld {
    div {
        .slideshow-container {
            margin: 0 auto;
        }
    }
}

#sctn-esp {
    p {
        font-size: .8rem;
    }
}

#sctn-emp,
#sctn-res {
    img {
        height: 100%;
    }
}

#sctn-neg {}

#sctn-fot {
    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            tr {
                background-color: $verde;
                color: $preto !important;
                
                .titulo {
                    padding: 1rem 0;
                    text-align: center;
                }
            }
        }
        
        tbody {
            td {
                border: .1rem solid $cinza-claro;
                strong {
                    color: $branco;
                }
            }
        }

        td {
            padding: .5rem;
            width: 25%;

        }
    }
}

#sctn-cnt {
    div {
        p {
            display: flex;
            align-items: center;
            margin-bottom: 1rem !important;
    
            svg {
                margin-right: 1rem !important;
                color: $verde;
            }
        }
    }
}

.col-100 {
    width: 100%;
}

.col-70 {
    width: 68%;
}

.col-60 {
    width: 58%;
}

.col-50 {
    width: 48%;
}

.col-40 {
    width: 38%;
}

.col-30 {
    width: 28%;
}

.col-20 {
    width: 18%;
}

.btn-verde {
    background-color: $verde;
    color: $branco;
}

.btn-azul {
    background-color: $azul;
    color: $branco;
}

.btn-branco {
    background-color: $branco;
    color: $azul;
}

.bg-verde {
    background-color: $verde-claro !important;
}

.bg-cinza {
    background-color: $cinza-claro-filtro !important;
}

.bg-preto {
    background-color: $preto !important;
}

.img-padrao {
    width: 100% !important;
    border-radius: .5rem !important;
    object-fit: cover;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}