@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    body {
        margin: 0;
        font-size: 16px !important;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: #999;

        nav { z-index: 999; }
        #to-top { z-index: 998; }
        #banner { z-index: 997; }

        nav, main, footer, #banner>section {
            padding: 1rem 20% !important;
            //border: .1rem solid red;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1rem !important;
        }

        h1 {
            font-size: 4rem;
        }

        a, button, svg {
            text-decoration: none;
            cursor: pointer;
            margin: 0 !important;
        }

        li, p {
            line-height: 1.5rem !important;
        }

        nav {
            position: relative;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 5rem !important;

            a {
                color: white !important;
            }

            #nav-logo {
                height: 3.5rem;
                //filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, .5));
            }
            
            #nav-menu {
                li {
                    display: inline;
                    margin-left: 2rem;
                    padding-bottom: .5rem;
                    border-bottom: .2rem solid rgba(0, 0, 0, 0);
                    transition: .2s;

                    &:hover {
                        border-bottom: .2rem solid #B3DE00;
                    }
                }
            }
        }

        main {
            min-height: 100vh;

            >section {
                //border: .1rem solid green;
                padding: 3rem 0;
            }

            section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .col-100 {
                    width: 100%;
                }

                .col-70 {
                    width: 69%;
                }

                .col-50 {
                    width: 49%;
                }

                .col-30 {
                    width: 29%;
                }

                h2 {
                    color: #B3DE00;
                }
            }

            #to-top {
                position: fixed;
                bottom: 2rem;
                right: 2rem;
                background-color: white;
                border-radius: 50%;
                color: #0045A0;
            }

            #banner {
                width: 100%;
                padding: 0;
                position: absolute;
                height: 80vh;
                max-height: 80vh;
                left: 0;
                top: 0;
                background-image: url('../../src/img/agro-e-solar-banner-paineis-solares-3.jpg');
                background-size: cover;
                background-position: center center;
                background-attachment: fixed;

                >section {
                    background: linear-gradient(rgba(#0045A0, 0.7) 0%, rgba(#0045A0, 0.2) 80%);
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    text-align: center;

                    div {
                        color: white;
                        padding: 0 20%;

                        h1 {
                            width: 100%;
                            font-weight: 300;
                        }
                    }
                }
            }

            #fim-banner {
                margin-top: calc(80vh - 5rem);
                opacity: 0;
            }
        }

        footer {
            text-align: center;
            background-color: black;
            color: white !important;
        }

        .btn {
            border-radius: 50rem;
            padding: 1rem 2.5rem;
            outline: none;
            border: 0;
            font-size: 1.2rem !important;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            transition: .2s;

            svg {
                margin-left: .5rem !important;
                transition: .2s;
            }

            &:hover {
                svg {
                    margin-left: 1rem !important;
                }
            }
        }

        .btn-3 {
            background-color: white;
            color: #0045A0;
        }
    }
}