@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  margin: 0;
  font-size: 16px !important;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #999;
}
* body nav {
  z-index: 999;
}
* body #to-top {
  z-index: 998;
}
* body #banner {
  z-index: 997;
}
* body nav, * body main, * body footer, * body #banner > section {
  padding: 1rem 20% !important;
}
* body h1, * body h2, * body h3, * body h4, * body h5, * body h6 {
  margin-bottom: 1rem !important;
}
* body h1 {
  font-size: 4rem;
}
* body a, * body button, * body svg {
  text-decoration: none;
  cursor: pointer;
  margin: 0 !important;
}
* body li, * body p {
  line-height: 1.5rem !important;
}
* body nav {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem !important;
}
* body nav a {
  color: white !important;
}
* body nav #nav-logo {
  height: 3.5rem;
}
* body nav #nav-menu li {
  display: inline;
  margin-left: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0);
  transition: 0.2s;
}
* body nav #nav-menu li:hover {
  border-bottom: 0.2rem solid #B3DE00;
}
* body main {
  min-height: 100vh;
}
* body main > section {
  padding: 3rem 0;
}
* body main section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
* body main section .col-100 {
  width: 100%;
}
* body main section .col-70 {
  width: 69%;
}
* body main section .col-50 {
  width: 49%;
}
* body main section .col-30 {
  width: 29%;
}
* body main section h2 {
  color: #B3DE00;
}
* body main #to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: white;
  border-radius: 50%;
  color: #0045A0;
}
* body main #banner {
  width: 100%;
  padding: 0;
  position: absolute;
  height: 80vh;
  max-height: 80vh;
  left: 0;
  top: 0;
  background-image: url("../../src/img/agro-e-solar-banner-paineis-solares-3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
* body main #banner > section {
  background: linear-gradient(rgba(0, 69, 160, 0.7) 0%, rgba(0, 69, 160, 0.2) 80%);
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
* body main #banner > section div {
  color: white;
  padding: 0 20%;
}
* body main #banner > section div h1 {
  width: 100%;
  font-weight: 300;
}
* body main #fim-banner {
  margin-top: calc(80vh - 5rem);
  opacity: 0;
}
* body footer {
  text-align: center;
  background-color: black;
  color: white !important;
}
* body .btn {
  border-radius: 50rem;
  padding: 1rem 2.5rem;
  outline: none;
  border: 0;
  font-size: 1.2rem !important;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  transition: 0.2s;
}
* body .btn svg {
  margin-left: 0.5rem !important;
  transition: 0.2s;
}
* body .btn:hover svg {
  margin-left: 1rem !important;
}
* body .btn-3 {
  background-color: white;
  color: #0045A0;
}

/*# sourceMappingURL=output.css.map */
