@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media only screen and (max-width: 1440px) {
  body {
    font-size: 14px !important;
  }
  body nav, body footer, body #banner > section {
    padding: 1rem 10% !important;
  }
  body #nav-logo {
    height: 3rem !important;
  }
  body #banner {
    height: 90vh !important;
    max-height: 90vh !important;
  }
  body #fim-banner {
    margin-top: calc(90vh - 5rem) !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body main {
  min-height: 100vh;
}
body main h3 {
  color: #6e6e6e;
  font-size: 1.5rem;
}
body main #to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  color: #B3DE00;
}
body main #banner {
  background-image: url("../../src/assets/img/agro-e-solar-banner-paineis-solares-3.jpg");
}
body main #banner > div {
  margin: auto;
}
body main #banner > div #texto {
  align-items: center;
  text-align: center;
  color: #fff;
}
body main #banner > div #texto h1 {
  width: 100%;
  font-weight: 300;
  line-height: 4.2rem;
}
body main #banner > div #texto p {
  margin: 0 15%;
  line-height: 1.5rem !important;
}
body main #banner > div #pelicula {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(0, 69, 160, 0.7) 0%, rgba(0, 69, 160, 0.2) 80%);
}
body footer {
  text-align: center;
  background-color: #252525;
}
body footer section {
  padding: 2rem 0;
}
body footer section h5 {
  color: rgb(197, 197, 197) !important;
  font-weight: 400;
  margin: 0 !important;
}

#sctn-agr {
  background-position: center center;
  background-size: cover;
}

#sctn-sld div .slideshow-container {
  margin: 0 auto;
}

#sctn-esp p {
  font-size: 0.8rem;
}

#sctn-emp img,
#sctn-res img {
  height: 100%;
}

#sctn-fot table {
  width: 100%;
  border-collapse: collapse;
}
#sctn-fot table thead tr {
  background-color: #B3DE00;
  color: #252525 !important;
}
#sctn-fot table thead tr .titulo {
  padding: 1rem 0;
  text-align: center;
}
#sctn-fot table tbody td {
  border: 0.1rem solid #a5a5a5;
}
#sctn-fot table tbody td strong {
  color: #fff;
}
#sctn-fot table td {
  padding: 0.5rem;
  width: 25%;
}

#sctn-cnt div p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem !important;
}
#sctn-cnt div p svg {
  margin-right: 1rem !important;
  color: #B3DE00;
}

.col-100 {
  width: 100%;
}

.col-70 {
  width: 68%;
}

.col-60 {
  width: 58%;
}

.col-50 {
  width: 48%;
}

.col-40 {
  width: 38%;
}

.col-30 {
  width: 28%;
}

.col-20 {
  width: 18%;
}

.btn-verde {
  background-color: #B3DE00;
  color: #fff;
}

.btn-azul {
  background-color: #0045A0;
  color: #fff;
}

.btn-branco {
  background-color: #fff;
  color: #0045A0;
}

.bg-verde {
  background-color: #faffe3 !important;
}

.bg-cinza {
  background-color: #f5f5f5 !important;
}

.bg-preto {
  background-color: #252525 !important;
}

.img-padrao {
  width: 100% !important;
  border-radius: 0.5rem !important;
  object-fit: cover;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=base.css.map */
